@font-face {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    src:
      local("Montserrat"),
      url("Montserrat.woff") format("woff");
      @font-face {
          font-family: Montserrat, sant-serif;
          src: url(fonts/Montserrat.woff);
      }
  }
  
html, body {
    
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    
}
body {
    display: block;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
        width: 1000px;
    height: 2815px;
}
html {
    background-color: #ffffff;
}

header {
    height: 218px;
}

h1, figcaption, .jokes, .daily-joke {
    padding-left: 73px;
}
h1 {
    height: 170px;
    width: 853px;
    margin-top: 0;
    padding-right: 74px;
    top: 105px;
    font-weight: 700;
    position: absolute;
    font-size: 70px;
    margin: 0;

}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    
}
figure {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
img {
    width: 100%;
}
figcaption {
    font-size: 36px;
    font-weight: normal;
    padding-left: 73px;
    color: #BCBBBB;
    font-style: normal;
    top: 1264px;
    position: absolute;
}
a {
    color: #F66C41;
}
.jokes {
    margin-top: 240px;
}
.daily-joke {
    margin-top: 90px;
    width: 811px;
}
.prepare {
    font-size: 36px;
    
    font-weight: 500;
}
.italic {
    font-style: italic;    
    font-weight: 700;
}
h3 {
    font-weight: 500;
    font-size: 70px;

}
h1, h2, h3 {
    margin: 0;
}
p {
    font-weight: 400;
    font-style: normal;
    font-size: 36px;

}
.daily-joke p {
    padding-bottom: 54px;
}
.daily-joke a {
    font-weight: 500;
}
h2 a, h1 a {
    text-decoration: none;
}
.prepare ul {
    margin: 0;
    list-style-type: disc;
}